# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

# Jessie intermediate files
*.jc
jessie.log
astraver.log
*.cloc
*.mlw
*.makefile

# Why3 backup files
*.bak

# Why3 shapes (for partial VC match)
why3shapes.*

*.pp.c
*.pp.h

/fuzz
/bin
/gen

astraver.why3.conf
